#gitignore file used in thepartytraveller.com development

#Core WP files that might change
.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

#Host-specific core files
/wp-config-hosting.php
/db-config.php
/wp-content/db.php

#Uploads since we don't want every bit of media
blogs.dir
upgrade


#w3tc, other caches, note *cache* removes core wp files!
**/cache
**/w3tc
*w3-total*
backup-db
advanced-cache.php
wp-cache-config.php
object-cache.php
w3tc-config*
cache/
.cache/
cache.json

#Sass Cache
**/sass/sass-cache
**/sass/.sass-cache
*.scssc

#Node Files
**/node_modules

#sitemaps
sitemap.xml
sitemap.xml.gz
sitemap_index.xml

#OSX files
*.DS_Store

#Misc
*.zip
*.tar
*.gz
.ht_wsr.txt
.synthquota
nginx.conf
*.sql
wc-logs/
*.log
nbproject*
.idea*
*.sublime-*

#Project-specific ignores
/temp
/assets
/google*
/sucuri-*
/pinterest-*